ul {
    background-color: var(--background);
    width: 100%;
    border-radius: var(--border-radius);
    list-style: none;
    padding: 0;


    li {
        padding: 1rem 2rem;
        cursor: pointer;
        font-family: var(--font-family);
        border-bottom: 1px solid var(--bodyBackground);

        &:last-child {
            border: none;
        }
        
        p {
            font-size: 1.4rem;
        }
    
    }
}
