
.cus-header {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 10;
	width: 100%;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
	background-color: var(--background);
	padding: 2rem 4rem;
	min-height: 8rem;

	&__options {
		width: 100%;
		max-width: 50rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__title {
		position: relative;
	}
}