.section {
    padding: 6rem 0;
    width: 100%;
    border-bottom: 1px solid #cccccc;

    &>h2 {
        margin-bottom: 2rem;
    }

    &__elements {
        display: flex;
        gap: 6rem;
    }
    

    p {
        margin-bottom: 1.4rem;
    }
}
a {
    display: flex;
    align-items: center;
}
img {
    width: 2rem;
    margin-right: 1rem;
}